<div class="page-content">

    <img src="image/about-me.jpg" class="page-content-foto">

    <p class="page-content-p">Добрый день, меня зовут Валерий Злобин, я столяр. Живу и работаю в городе Челябинске.</p>

    <p class="page-content-p">Я влюблен в дерево, знаю его и чувствую. С радостью поделюсь своими знаниями с вами.</p>

    <p class="page-content-p">Мое видение дизайна - это органический минимализм формы в сочетании с природной фактурой
        древесины не закрытой краской, а раскрывающей ее красоту в каждом естественном
        изгибе волокна. Это привело меня к мебели в стиле современного модерна, а если еще точнее стилю 
        <a href="http://sammaloofwoodworker.com/" class="page-content-link">Сэма Мэлуфа(Sam Maloof)</a>.
        Меня восхищает умение и жажда работать руками этого выдающегося дизайнера, создавшего целое направление в
        современном мебельном дизайне, где каждое изделие уникально, неповторимо и создано в единственном
        экземпляре. </p>

    <p class="page-content-p">Помимо этого, я готов воплотить и отразить все Ваши мечты и желания, поэтому просто
        позвоните, и мы обо всем договоримся.</p>

    <p class="page-content-p">Я знаю свое дело, я люблю свое дело и я работаю для Вас!</p>
</div>