<h1 class="page-content-h1">
    Деревянная садовая мебель
</h1>

<p class="page-content-p">
    Многие дачники задумываются не только о работах на участке, но и об отдыхе. Как же сделать
    отдых летом комфортным,
    приятным, незабываемым? Поможет в этом качественная садовая мебель. Именно качественная мебель, а не
    какая-нибудь
    пластиковая китайская, которая многих дачников уже разочаровала.
</p>

<p class="page-content-p">
    Выбирая мебель для сада, очень важно обратить внимание на качество материала, из которого
    сделана эта мебель. Также
    следует отдавать предпочтение той мебели, за которой легко ухаживать и которую легко перевозить.
</p>

<p class="page-content-p">
    Хотя пластиковая мебель дешевле, легче и чистится лучше, чем деревянная. Но при этом она
    быстро ломается, не очень
    удобная в использовании, не экологична. Чаще всего пластиковая мебель заменяется мебелью из дерева различных
    пород.
</p>

<h1 class="page-content-h1">
    Деревянная мебель – классика садового жанра
</h1>

<p class="page-content-p">
    Трудно представить материал, который сможет заменить дерево. Для его обработки не
    требуется много энергии, поэтому и
    сам материал, и процесс его обработки – экологически чистые. Практически любой вид древесины выглядит прекрасно,
    не
    требуя особенной обработки. Еще один важный момент, дерево не выделяет вредных и токсичных веществ.
</p>

<p class="page-content-p">
    Несмотря на то, что деревянная мебель обойдется дороже пластиковой, зато прослужит она
    намного дольше. Поскольку она
    очень прочная, качественная, удобная. Вид садовой мебели из дерева очень красивый, своим присутствием на участке
    деревянная мебель облагораживает его внешний вид. Садовую мебель можно декорировать, например, лентами, цветами,
    декоративными подушками, что придает ей еще большее очарование.
</p>

<p class="page-content-p">
    Дерево прекрасно сочетается с другими материалами, такими, как металл, камень.
</p>

<h1 class="page-content-h1">
    Мебель для сада из хвойных пород
</h1>

<p class="page-content-p">
    Наиболее прочной и долговечной считается именно мебель из хвойных пород деревьев. Мебель
    из лиственницы, сосны, ели
    всегда хорошо смотрится, ее легко ремонтировать, она очень устойчива к различным атмосферным явлениям.
</p>

<h1 class="page-content-h1">
    Восковое покрытие
</h1>


<img class="page-content-foto"
        src="image/photo/big/DSC_9488.jpg"/>

<p class="page-content-p">
    Восковое покрытие мебели очень старинный способ обработки поверхности и уход за мебелью. О свойствах воскового
    материала люди знали давно и его способность отталкивать воду использовали как могли.
</p>

<p class="page-content-p">
    Хотя в настоящее время существует множество эффективных средств для защиты мебели от сырости и влаги. Восковое
    покрытие пользуется спросом при обработке мебели не только как защита, но и в декоративных целях.
</p>

<p class="page-content-p">
    При вощении древесины воск имеет свойство глубоко проникать в ее поверхность, в то время как лаковое покрытие
    остается на поверхности небольшим слоем.
</p>

<p class="page-content-p">
    Покрытая воском мебель прослужит вам долгие годы, ей не так страшны повседневные нагрузки и климатические условия.
</p>