<div class="page-content">

    <div class="fotorama"
         data-nav="thumbs"
         data-allowfullscreen="true"
         data-keyboard="true">
        <a ng-repeat="image in contents.images" ng-href="image/photo/big/{{pageId}}/{{image}}"> <!-- создание списка изображений происходит контроллером --> <!-- Большие фото -->
            <img ng-src="image/photo/mini/{{pageId}}/{{image}}">   <!-- В переменную image передаются по одной картинки из переменной contents.images --> <!-- Маленькие фото -->
        </a>

    </div>

    <div  class="page-content-text" ng-include="contents.description"> <!-- ng-include  считывает данные из файла, адрес которой находится в переменной и вставляет их на страницу -->

    </div>
</div>