<div class="room-content">

    <h1 class="room-content-h1">Деревянная мебель для комнат.</h1>

    <div class="fotorama"
         data-nav="thumbs"
         data-allowfullscreen="true"
         data-keyboard="true">
        <img src="image/room/DSC_6383.jpg">
        <img src="image/room/DSC_6384.jpg">
        <img src="image/room/DSC_6385.jpg">
        <img src="image/room/DSC_6386.jpg">
        <img src="image/room/DSC_6387.jpg">
        <img src="image/room/DSC_6388.jpg">
        <img src="image/room/DSC_6389.jpg">
        <img src="image/room/DSC_6390.jpg">
        <img src="image/room/DSC_6391.jpg">
    </div>
    <p class="room-content-p">Краткое описание мебели для комнат, прихожих. Примерный перечень того, что можно сделать.</p>

    <h1 class="room-content-h1">Примерная стоимость мебели на заказ </h1>
    <p class="room-content-p">Примеры стоимости изделий. Факторы которые окажут влияние на конечную стоимость</p>
</div>
