@media screen and (max-width: 980px) {

    html {
        font-size: 12px;
    }

    #header {
        height: 60px;
    }

    .wrapper {
        width: auto;
        margin-bottom: -88px;
    }

    .wrapper:after {
        height: 88px;
    }

    #site-logo {
        position: static;
    }

    .popup {
        height: 15px;
        margin-top: 44px;
        margin-left: 295px;
    }

    #main-nav a {
        font-size: 1.22em;

    }

    .content {
        width: auto;
        padding-top: 96px;
        padding-bottom: 0px;
    }

    .content ul {
        margin: 0 1px;
    }

    .section-item {
        position: relative;
        width: 100%;
        display: block;
    }

    .section-item-link {
        display: block;
    }

    .section-item-details {
        background: rgba(75, 58, 51, 0.5);
        position: absolute;
        bottom: 2.66em;
        left: 0;
        border-left: 3px solid #FFD119;
    }

    .content-p {
        background: rgba(75, 58, 51, 1);
        margin: 0;
        padding: 20px 0 20px 0;
        text-indent: 10px; /* Отступ первой строки в пикселах */
        left: 0;
        border-left: 0;
        width: 100%;
    }

    #footer {
        margin-top: -88px; /* отрицательное значение высоты футера */
        height: 105px;
    }
}

@media screen and (max-width: 650px) {

    #header {
        height: 88px;
    }

    .main-link {
        position: relative;
    }

    #main-nav {
        clear: both;
        float: none;
    }

    #main-nav a {
        padding: 1em 1em 0 0;
    }

    .content {
        padding-top: 124px;
    }

    .page-about-me {
        padding: 2em;
    }

    .page-about-me-photo {
        display: block;
        position: relative;
        margin: auto;
    }

    .page-about-me-content {
        display: block;
        padding-top: 20px;
        padding-left: 0;

    }

}
