<h1 class="page-content-h1">Кухонная мебель и утварь.</h1>

<p class="page-content-p">Мебель и кухонная утварь может быть изготовлена на заказ по эскизам заказчика.</p>

<p class="page-content-p">Барный стул имеет элегантный дизайн, который отлично смотрится со скульптурной обработкой деталей. Кроме того, на нем просто удобно сидеть за стойкой и ждать пока готовится ужин.</p>

<p class="page-content-p">Барный стул изготовлен из массива ясеня и оформлено заглушками из ясеня. Покрытие - твердое масло используется для столешниц и ступеней лестниц.</p>
