<h1 class="page-content-h1">Кресло-качалка</h1>

<p class="page-content-p">Это классическое в стиле <a href="http://sammaloofwoodworker.com/" target="_blank">Сэма Мэлуфа(Sam Maloof)</a> кресло-качалка-идеальное сочетание красоты и комфорта, произведение искусства, которое является одновременно функциональным и элегантным. Ваш глаз обращает внимание на каждое соединение, поверхность и детали отделки от вогнутого подголовника до длинных, напоминающих рога антилопы полозьев. Причудливая форма полозьев сделана по одной очень практической причине: чтобы удержать качалку от опрокидывания.</p>

<p class="page-content-p">Кроме того, кресло-качалка обладает доказанным медицинским эффектом, т.к. используется в кардиотерапии, в профилактике стрессовых состояний. Особое значение имеет кресло-качалка для кормящих младенцев матерей. А также кресло-качалка-приятный способ похудеть.</p>

<p class="page-content-p">Особая уникальная форма сиденья, выполненная вручную, подобно скульптуре, создает удобство для самых нежных и привередливых нижних частей спины. Отличная поясничная поддержка в сочетании с гладкой поверхностью дают комфорт и удовольствие при пользовании даже в течение многих часов.</p>

<p class="page-content-p">Поместите его в вашей любимой гостиной или перед окнами с потрясающим видом. Это идеальный отдых после долгого дня и для наслаждения закатами.</p>

<p class="page-content-p">Кресло-качалка изготовлено из массива ясеня и оформлено заглушками из ясеня. Покрытие - твердое масло, используемое также для столешниц и ступеней лестниц.</p>

<p class="page-content-p">&nbsp;</p>

<p><iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/xA0E2Xd6tXw" width="560"></iframe></p>
