<h1 class="page-content-h1">Офисное кресло (компьютерный стул)</h1>

<p class="page-content-p">Это кресло в стиле <a href="http://sammaloofwoodworker.com/" target="_blank">Сэма Мэлуфа(Sam Maloof)</a> - идеальное сочетание красоты и комфорта, произведение искусства, которое является одновременно функциональным и элегантным. Ваш глаз обращает внимание на каждое соединение, поверхность и детали отделки от вогнутого подголовника до пятилучевой крестовины выполненной из того же дерева что и само кресло.</p>

<p class="page-content-p">Особая уникальная форма сиденья, выполненная вручную, подобно скульптуре, создает удобство для самых нежных и привередливых нижних частей спины. Отличная поясничная поддержка в сочетании с гладкой поверхностью дают комфорт и удовлетворение при пользовании даже в течение многих часов.</p>

<p class="page-content-p">Кресло изготовлено из массива ясеня и оформлено заглушками из ясеня. Покрытие - твердое масло, используемое также для столешниц и ступеней лестниц. Тактильное ощущение от прикосновения к любой части кресла приводит в восторг.</p>

<p><iframe allowfullscreen="" frameborder="0" height="315" src="https://www.youtube.com/embed/ieONEDX6DEE" width="420"></iframe></p>
